<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="schoolForm" (ngSubmit)="onSubmit()">
            <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-danger">Cancel</button>
          </div>  
        </div>  
        <div class="row">
            <div class="col-xs-12">
               <div class="form-group">
                   <label for="name">Name</label>
                   <input 
                    type="text"
                    id="name"
                    formControlName="name"
                    class="form-control">
               </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
               <div class="form-group">
                   <input 
                    type="hidden"
                    id="entityId"
                    formControlName="entityId"
                    class="form-control">
               </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
               <div class="form-group">
                   <label for="imageUrl">Image URL</label>
                   <input 
                    type="text"
                    id="imageUrl"
                    formControlName="imageUrl"
                    class="form-control">
               </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <img src="" class="img-responsive">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label for="period">Period</label>
                <input 
                 type="text"
                 id="location"
                 formControlName="period"
                 class="form-control">
            </div>  
         </div>
         <div class="col-xs-12">
            <div class="form-group">
                <label for="location">Location</label>
                <input 
                 type="text"
                 id="location"
                 formControlName="location"
                 class="form-control">
            </div>  
         </div>
        </form>
    </div>
</div>